.loader {
    border: 20px solid #f3f3f3;
    border-radius: 50%;
    border-top: 20px solid #454545;
    border-bottom: 20px solid #454545;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
