body {
    background-image: url("../img/login_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

html, body, .container-table {
    height: 100%;
}

.pbp-sign-up-button-row {
    padding: 10px;
}

.pbp-sign-up-button {
    width: 100%;
    background-color: #454545;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff !important;
}

.pbp-login-area {
    display: table;
    height: 90%;
}

.pbp-login-area-content {
    vertical-align: middle;
    display: table-cell
}

.pbp-login-area-content-box {
    border-radius: 4px;
    background-color: #e1e1e1;
}

.pbp-login-area-header {
    background-color: #9b9b9b;
    border-radius: 4px 4px 0px 0px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
}

.pbp-login-error-bar {
    padding: 10px;
    background-color: #cd321d;
    color: #ffffff;
    font-weight: normal;
    border: 0px;
}

.pbp-login-input-box {
    padding: 10px 10px 0px 10px;
}

.pbp-login-input-box-last {
    padding: 10px 10px 10px 10px;
}

.pbp-login-button {
    width: 100%;
    background-color: #454545;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff !important;
}
