body {
    overflow-x: hidden;
}

.pbp-header {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #e1e1e1;
    padding: 10px 0px 10px 0px;
    border-bottom: 10px solid #767676;
}

.pbp-header-title {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #454545;
    text-align: left;
}


/* The side navigation menu */

.pbp-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #767676;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.pbp-sidenav a {
    padding: 10px;
    margin: 0px 10px 1px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.pbp-sidenav a:hover, .offcanvas a:focus {
    background-color: #e1e1e1;
    color: #767676;
    border-radius: 4px;
}

.pbp-sidenav .pbp-sidenav-active {
    background-color: #e1e1e1;
    color: #767676;
    border-radius: 4px;
    padding: 10px;
}

.pbp-sidenav .pbp-closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    background-color: #767676;
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    border-radius: 4px;
}

@media screen and (max-height: 450px) {
    .pbp-sidenav {
        padding-top: 15px;
    }
    .pbp-sidenav a {
        font-size: 15px;
    }
}

.pbp-menuicon {
    width: 35px;
    height: 5px;
    background-color: #454545;
    margin: 6px 0;
}

.pbp-save-button {
    background-color: #9b9b9b !important;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff !important;
    margin: 0px 0px 0px 10px;
}

.pbp-undo-button {
    background-color: #9b9b9b;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff !important;
}

.pbp-action-button {
    color: #ffffff !important;
    border-color: #cccccc !important;
    background-color: #9b9b9b;
}

.pbp-no-budget-block {
    text-align: center;
    padding: 30px;
}

.pbp-budget-block {
    position: relative;
    height: 100%;
    width: 100%;
    background: #767676;
    padding: 0px;
    margin: 0px;
}

.pbp-budget-block-header {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.pbp-budget-block-header-text {
    color: #454545;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    text-align: left;
    padding: 10px 10px 0px 10px;
}

.pbp-budget-bock-col {
    margin: 0px;
    padding: 0px 10px 0px 10px;
    background-color: #ffffff;
}

.pbp-budget-block-col-text {
    color: #454545;
    font-weight: normal;
    font-style: italic;
}

.pbp-tab-block {
    margin: 0px 10px 0px 10px;
    padding: 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.pbp-tab-block-item {
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #9b9b9b;
    background-color: #9b9b9b;
    color: #ffffff;
    text-align: center;
    margin-left: 20px;
    padding: 2px;
    margin: 10px 0px 0px 0px;
    width: 100%;
    cursor: pointer;
    cursor: hand;
}

.pbp-tab-block-item a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.pbp-tab-block-item-active {
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #9b9b9b;
    background-color: #ffffff;
    color: #9b9b9b;
    text-align: center;
    margin-left: 20px;
    padding: 2px;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

.pbp-tab-block-item-active a {
    color: #9b9b9b;
    text-align: center;
    text-decoration: none;
}

.pbp-category-records {
    margin: 0px 0px 0px 50px;
}

.pbp-category-records-table-cell-input {
    padding: 1px;
}

.pbp-category-records-table {
    width: 100%;
}

.pbp-category-records-table-cell {
    width: 50%;
}

.pbp-income-record-header-modal {
    background-color: #49c0f2;
    color: #ffffff;
    border-radius: 4px 4px 0px 0px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.pbp-income-record-content-modal {
    background-color: #d0effc;
    border-radius: 0px 0px 4px 4px;
}

.pbp-expenses-record-header-modal {
    background-color: #cd321d;
    color: #ffffff;
    border-radius: 4px 4px 0px 0px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.pbp-expenses-record-content-modal {
    background-color: #fffbde;
    border-radius: 0px 0px 4px 4px;
}

.pbp-record-comment-modal {
    background-color: #ffffff;
    border-radius: 4px;
}

.pbp-record-comment-modal-input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.pbp-transaction-block {
    position: relative;
    min-height: 100%;
    background-color: #ffffff;
}

.pbp-income-block-header {
    background-color: #49c0f2;
    margin: 10px 10px 0px 10px;
    border-radius: 4px 4px 0px 0px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

.pbp-income-category {
    background-color: #d0effc;
    margin: 0px 10px 0px 10px;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #49c0f2;
}

.pbp-income-category-input {
    color: #49c0f2;
}

.pbp-income-category-text {
    color: #49c0f2;
    font-weight: normal;
    font-style: italic;
}

.pbp-income-category-total {
    background-color: #49c0f2;
    margin: 0px 10px 10px 10px;
    border-radius: 0px 0px 4px 4px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
}

.pbp-income-category-footer {
    margin: 10px;
}

.pbp-expenses-block-header {
    background-color: #cd321d;
    margin: 10px 10px 0px 10px;
    border-radius: 4px 4px 0px 0px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

.pbp-expenses-category {
    background-color: #fffbde;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    border-radius: 0px;
    border-bottom: 1px solid #cd321d;
}

.pbp-expenses-category-input {
    color: #cd321d;
}

.pbp-expenses-category-text {
    color: #cd321d;
    font-weight: normal;
    font-style: italic;
}

.pbp-expenses-category-total {
    background-color: #cd321d;
    margin: 0px 10px 10px 10px;
    border-radius: 0px 0px 4px 4px;
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
}

.pbp-expenses-category-footer {
    margin: 10px;
}

.pbp-balance-block {
    height: 100%;
    width: 100%;
    background: #767676;
    padding: 1px 0px 0px 0px;
}

.pbp-balance-block-header {
    background-color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}

.pbp-balance-block-header-text {
    color: #454545;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    position: relative;
    padding: 10px 0px 0px 0px;
}

.pbp-balance-block-normal-text {
    color: #454545;
    font-style: italic;
    text-align: left;
}

.pbp-balance-block-positive-text {
    color: #49c0f2;
    font-weight: bold;
    padding: 0px;
    font-size: 20px;
    font-style: italic;
    margin: 0px 0px 10px 0px;
}

.pbp-balance-block-negative-text {
    color: #cd321d;
    font-weight: bold;
    padding: 0px;
    font-size: 20px;
    font-style: italic;
    margin: 0px 0px 10px 0px;
}

.pbp-footer-block {
    background-color: #e1e1e1;
    position: relative;
    bottom: 0;
    min-height: 100px;
    width: 100%;
    padding: 20px 10px 20px 10px;
    border-top: 10px solid #767676;
}

.pbp-copy {
    text-align: center;
    font-weight: bold;
}
