.pbp-user-modal {
    top: 30%;
    background-color: #ffffff;
    border-radius: 4px;
}

.pbp-user-modal-header {
    background-color: #9b9b9b;
    border-radius: 4px 4px 0px 0px;
    color: #ffffff;
    font-weight: bold;
}

.pbp-user-modal-error-bar {
    background-color: #cd321d;
    color: #ffffff;
    font-weight: normal;
    border: 0px;
    padding: 15px;
}

.pbp-user-modal-info-bar {
    background-color: #49c0f2;
    color: #ffffff;
    font-weight: normal;
    border: 0px;
    padding: 15px;
}

.pbp-user-modal-body {
    background-color: #e1e1e1;
    border-radius: 0px 0px 4px 4px;
}

.pbp-user-modal-body-row {
    padding: 0px 0px 10px 0px;
}

.pbp-user-modal-body-row-last {
    padding: 0px 0px 0px 0px;
}

.pbp-register-button {
    width: 100%;
    background-color: #454545;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff !important;
}
