<div class="modal fade" role="dialog" data-bind="attr: { id: guid() }">
    <div class="modal-dialog pbp-record-comment-modal">
        <div class="modal-header pbp-{{ flow }}-record-header-modal">
            <table style="width: 100%;">
                <tr>
                    <td valign="bottom">
                        Edit Record
                    </td>
                    <td valign="bottom">
                        <button class="close" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-body pbp-{{ flow }}-record-content-modal">
            <div class="pbp-{{ flow }}-category-text">Amount</div>
            <input type="text" class="form-control pbp-record-comment-modal-input" data-bind="value: amount, valueUpdate: 'afterkeydown'" />
            <div class="pbp-{{ flow }}-category-text">Comment</div>
            <textarea class="form-control pbp-record-comment-modal-input" data-bind="value: description, valueUpdate: 'afterkeydown'"></textarea>
        </div>
    </div>
</div>
