<div id="registrationArea" class="modal fade" role="dialog">
    <div class="modal-dialog pbp-user-modal">
        <div class="modal-header pbp-user-modal-header">
            Sign up!
            <span class="pull-right">
                <button class="close" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
            </span>
        </div>
        <div data-bind="visible: showError, text: message" class="pbp-user-modal-error-bar">
        </div>
        <div data-bind="visible: showInfo, text: message" class="pbp-user-modal-info-bar">
        </div>
        <div class="modal-body pbp-user-modal-body">
            <div class="pbp-user-modal-body-row">
                <input type="text" class="form-control" placeholder="E-mail" data-bind="value: id" />
            </div>
            <div class="pbp-user-modal-body-row">
                <input type="password" class="form-control" placeholder="Password" data-bind="value: password" />
            </div>
            <div class="pbp-user-modal-body-row">
                <input type="password" class="form-control" placeholder="Password again" data-bind="value: password2" />
            </div>
            <div class="pbp-user-modal-body-row-last">
                <input type="button" class="btn pbp-register-button" value="Register" data-bind="click: register" id="registerButton" />
            </div>
        </div>
    </div>
</div>
