<div class="pbp-budget-block" data-bind="visible: guid() == $root.state.selectedBudget()">
    <div class="pbp-budget-block-header">
        <div class="pbp-budget-block-header-text">
            Budget Details
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="pbp-budget-bock-col">
                    <div class="pbp-budget-block-col-text">Budget</div>
                    <div class="input-group">
                        <input type="text" class="form-control" data-bind="value: year, valueUpdate: 'afterkeydown'" />
                        <span class="input-group-btn">
                            <button class="btn pbp-action-button" data-bind="click: removeBudget.bind($data)">
                                <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="pbp-budget-bock-col">
                    <div class="pbp-budget-block-col-text">Currency</div>
                    <select class="form-control"
                        data-bind="options: ['', 'CAD', 'EUR', 'USD'], value: currency">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
