<div class="pbp-tab-block" data-bind="visible: guid() == $root.state.selectedBudget()">
    <div class="row" data-bind="foreach: months">
        <div class="col-xs-3 col-sm-2 col-mg-1 col-lg-1">
            <div class="pbp-tab-block-item" data-bind="click: selectMonth.bind($data, month()), css: { 'pbp-tab-block-item-active': month() == $root.state.selectedMonth() }">
                <a href="#" data-bind="text: month"></a>
            </div>
        </div>
    </div>
</div>
