<div class="pbp-category-records">
    <table class="pbp-category-records-table">
        <tr>
            <td class="pbp-category-records-table-cell">
                &sum; <span data-bind="text: computeTotal({{ flow }}(), 'expected') + ' ' + $parent.currency()"></span>
            </td>
            <td class="pbp-category-records-table-cell">
                &sum; <span data-bind="text: computeTotal({{ flow }}(), 'actual') + ' ' + $parent.currency()"></span>
            </td>
        </tr>
    </table>
</div>
