<div class="pbp-{{ flow }}-category-text">Category</div>
<div class="input-group">
    <input type="text" class="form-control pbp-{{ flow }}-category-input" data-bind="value: category, valueUpdate: 'afterkeydown'" />
    <span class="input-group-btn">
        <button class="btn pbp-action-button" data-bind="click: removeCategory.bind($data, $parent.{{ flow }})">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </span>
</div>
