<div class="container pbp-login-area">
    <div class="row pbp-login-area-content">
        <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 pbp-login-area-content-box" id="loginArea">
            <div class="row">
                <div class="pbp-login-area-header">
                    Sign in!
                </div>
            </div>
            <div class="row">
                <div data-bind="visible: !success(), text: message" class="pbp-login-error-bar">
                </div>
            </div>
            <div class="row">
                <div class="pbp-login-input-box">
                    <input type="text" class="form-control" data-bind="value: id" placeholder="E-mail" />
                </div>
            </div>
            <div class="row">
                <div class="pbp-login-input-box">
                    <input type="password" class="form-control" data-bind="value: password" placeholder="Password" />
                </div>
            </div>
            <div class="row">
                <div class="pbp-login-input-box-last">
                    <input type="button" class="btn pbp-login-button" value="Login" data-bind="click: authenticate" />
                </div>
            </div>
        </div>
    </div>
</div>
