<div class="pbp-category-records">
    <table class="pbp-category-records-table">
        <tr>
            <td>
                <div class="pbp-{{ flow }}-category-text">Expected</div>
            </td>
            <td>
                <div class="pbp-{{ flow }}-category-text">Actual</div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                {% with type="expected" %}
                    <!-- ko foreach: expected -->
                        {% include 'includes/pbp_transaction_block_category_record_modal.html' %}
                        {% include 'includes/pbp_transaction_block_category_record.html' %}
                    <!-- /ko -->
                    {% include 'includes/pbp_transaction_block_category_record_add.html' %}
                {% endwith %}
            </td>
            <td valign="top">
                {% with type="actual" %}
                    <!-- ko foreach: actual -->
                        {% include 'includes/pbp_transaction_block_category_record_modal.html' %}
                        {% include 'includes/pbp_transaction_block_category_record.html' %}
                    <!-- /ko -->
                    {% include 'includes/pbp_transaction_block_category_record_add.html' %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <td>
                <span class="pbp-{{ flow }}-category-text">&sum; </span>
                <span class="pbp-{{ flow }}-category-text"
                    data-bind="text: computeSubTotal(expected()) + ' ' + $parents[1].currency()"></span>
            </td>
            <td>
                <span class="pbp-{{ flow }}-category-text">&sum; </span>
                <span class="pbp-{{ flow }}-category-text"
                    data-bind="text: computeSubTotal(actual()) + ' ' + $parents[1].currency()"></span>
            </td>
        </tr>
    </table>
</div>
