<div class="pbp-header">
    <div class="container-fluid">
        <div class="row">
            <div class="pbp-header-title col-xs-6">
                Personal Budget Planner
            </div>
            <div class="col-xs-6" style="text-align: right;">
                <a href="#" data-bind="click: showUserModificationModal">{{ current_user.id }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <span style="cursor: pointer" onclick="openNav()">
                    <div class="pbp-menuicon"></div>
                    <div class="pbp-menuicon"></div>
                    <div class="pbp-menuicon"></div>
                </span>
            </div>
            <div class="col-xs-9">
                <button class="btn pbp-save-button pull-right active" role="button"
                    data-bind="click: saveBudgetData, css: { 'active': $root.observer.hasChanged() }">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <button class="btn pbp-undo-button pull-right active" role="button"
                    data-bind="click: initBudgetData, visible: $root.observer.hasChanged()">
                    <span class="glyphicon glyphicon-erase"></span> Undo
                </button>
            </div>
        </div>
    </div>
</div>
