<div class="pbp-transaction-block" data-bind="visible: guid() == $root.state.selectedBudget(), foreach: months">
    <div class="row" data-bind="visible: $root.state.selectedMonth() == month()">
        <div class="col-sm-6 col-md-6 col-lg-6">
            {% with flow="income" %}
                {% include 'includes/pbp_transaction_block_flow.html' %}
            {% endwith %}
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            {% with flow="expenses" %}
                {% include 'includes/pbp_transaction_block_flow.html' %}
            {% endwith %}
        </div>
    </div>
    {% include 'includes/pbp_balance_block.html' %}
</div>
