<div class="pbp-category-records-table-cell-input">
    <button class="btn pbp-action-button" data-bind="click: addRecord.bind($data, {{ type }})">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>
