<div class="pbp-expense-block-header">
    Expenses
</div>
<div class="pbp-expense-category" data-bind="foreach: expenses">
    <div class="pbp-expense-category-text">Category</div>
    <div class="input-group">
        <input type="text" class="form-control pbp-expense-category-input" />
        <span class="input-group-btn">
                        <button class="btn pbp-action-button">
                            <span class="glyphicon glyphicon-minus"></span>
        </button>
        </span>
    </div>
    <div class="pbp-category-records">
        <table class="pbp-category-records-table">
            <tr>
                <td>
                    <div class="pbp-expense-category-text">Expected</div>
                </td>
                <td>
                    <div class="pbp-expense-category-text">Actual</div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <div class="input-group pbp-category-records-table-cell-input">
                        <input type="text" class="form-control" title="Description about the value." />
                        <span class="input-group-btn">
                                        <button class="btn pbp-action-button">
                                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn pbp-action-button">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                        </span>
                    </div>
                    <div class="pbp-category-records-table-cell-input">
                        <button class="btn pbp-action-button">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                    </div>
                </td>
                <td valign="top">
                    <div class="input-group pbp-category-records-table-cell-input">
                        <input type="text" class="form-control" title="Description about the value." />
                        <span class="input-group-btn">
                                        <button class="btn pbp-action-button">
                                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn pbp-action-button">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                        </span>
                    </div>
                    <div class="input-group pbp-category-records-table-cell-input">
                        <input type="text" class="form-control" title="Description about the value." />
                        <span class="input-group-btn">                                        <button class="btn pbp-action-button">
                                        <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn pbp-action-button">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                        </span>
                    </div>
                    <div class="pbp-category-records-table-cell-input">
                        <button class="btn pbp-action-button">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="pbp-expense-category-text">&sum; 456.87 EUR</div>
                </td>
                <td>
                    <div class="pbp-expense-category-text">&sum; 893.34 EUR</div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="pbp-expense-category-total">
    <div class="pbp-category-records">
        <table class="pbp-category-records-table">
            <tr>
                <td class="pbp-category-records-table-cell">
                    &sum; 456.78 EUR
                </td>
                <td class="pbp-category-records-table-cell">
                    &sum; 843.43 EUR
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="margin: 10px;">
    <button class="btn pbp-action-button">
                    <span class="glyphicon glyphicon-plus"></span> Add Category
                </button>
</div>
