<div class="pbp-balance-block" data-bind="visible: $root.state.selectedMonth() == month()">
    <div class="pbp-balance-block-header">
        <div class="pbp-balance-block-header-text">
            Monthly Balance
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="pbp-category-records">
                    <table class="pbp-category-records-table">
                        <tr>
                            <td>
                                <div class="pbp-balance-block-normal-text">
                                    Expected
                                </div>
                            </td>
                            <td>
                                <div class="pbp-balance-block-normal-text">
                                    Actual
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="pbp-category-records-table-cell">
                                <div class="pbp-balance-block-positive-text"
                                    data-bind="text: computeBalance(income(), expenses(), 'expected') + ' ' + $parent.currency(),
                                    css:
                                    {
                                        'pbp-balance-block-positive-text': computeBalance(income(), expenses(), 'expected') >= 0,
                                        'pbp-balance-block-negative-text': computeBalance(income(), expenses(), 'expected') < 0
                                    }">
                                </div>
                            </td>
                            <td class="pbp-category-records-table-cell">
                                <div class="pbp-balance-block-negative-text"
                                    data-bind="text: computeBalance(income(), expenses(), 'actual') + ' ' + $parent.currency(), 
                                    css:
                                    {
                                        'pbp-balance-block-positive-text': computeBalance(income(), expenses(), 'actual') >= 0,
                                        'pbp-balance-block-negative-text': computeBalance(income(), expenses(), 'actual') < 0
                                    }">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
