<div class="container">
    <div class="pull-right pbp-sign-up-button-row">
        <button class="btn pbp-sign-up-button" onclick="showRegistrationModal()">
            Sign up
        </button>
    </div>
</div>
