<div class="input-group pbp-category-records-table-cell-input">
    <input type="text" class="form-control" data-bind="value: amount, valueUpdate: 'afterkeydown', attr: { title: description() }" />
    <span class="input-group-btn">
        <button class="btn pbp-action-button" data-toggle="modal" data-bind="attr: { 'data-target': '#' + guid() }">
            <span class="glyphicon glyphicon-edit"></span>
    </button>
    <button class="btn pbp-action-button" data-bind="click: removeRecord.bind($data, $parent.{{ type }})">
        <span class="glyphicon glyphicon-minus"></span>
    </button>
    </span>
</div>
