<div id="pbpSidenav" class="pbp-sidenav">
    <a href="#" class="pbp-closebtn" onclick="closeNav()">&times;</a>
    <div data-bind="foreach: budgets">
        <a href="#" data-bind="text: year, click: selectBudget.bind($data, guid()), css: { 'pbp-sidenav-active': isSelectedBudget($root, guid()) }"></a>
    </div>
    <br/>
    <a href="#" data-bind="click: openNewBudget">Add New Budget</a>
    <a href="/logout">Logout</a>
    <a href="#">About</a>
</div>
