<div class="pbp-{{ flow }}-block-header">
    {{ flow|title }}
</div>
<div class="pbp-{{ flow }}-category" data-bind="foreach: {{ flow }}">
    {% include 'includes/pbp_transaction_block_category.html' %}
    {% include 'includes/pbp_transaction_block_category_records.html' %}
</div>
<div class="pbp-{{ flow }}-category-total">
    {% include 'includes/pbp_transaction_block_total.html' %}
</div>
<div class="pbp-{{ flow }}-category-footer">
    {% include 'includes/pbp_transaction_block_category_add.html' %}
</div>
