<!doctype HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>PBP</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='css/ui.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='css/loader.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='css/user.css')}}" rel="stylesheet" />
    </head>
    <body>
        {% include 'includes/pbp_user_modal.html' %}
        {% include 'includes/pbp_budget_block.html' %}
        <script src="{{url_for('static', filename='js/jquery-3.1.1.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.blockUI.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/knockout-3.4.0.js')}}"></script>
        <script src="{{url_for('static', filename='js/knockout.mapping-latest.js')}}"></script>
        <script src="{{url_for('static', filename='js/ui.js')}}"></script>
        <script src="{{url_for('static', filename='js/app.js')}}"></script>
        <script src="{{url_for('static', filename='js/loader.js')}}"></script>
        <script src="{{url_for('static', filename='js/user.js')}}"></script>
    </body>
</html>
